<style>
  .filter-shape-icon {
    max-height: 20px;
    display: inline-block;
    margin: 0 10px 0 0;
  }
  
  .filter-shape-color-icon {
    width: 20px;
    height: 20px;
    margin-right: 9px;
    border-radius: 20px;
  }
</style>
{% comment %} Shapes {% endcomment %}
{% if filter_caption == 'aviator' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_aviator.png?v=1687195384" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% if filter_caption == 'butterfly / cat eye' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_cateye.png?v=1687195384" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% if filter_caption == 'rectangle' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_rectangual.png?v=1687195384" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% if filter_caption == 'round / oval' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_oval.png?v=1687195384" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% if filter_caption == 'square' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_square.png?v=1687195384" class="filter-shape-icon";/>&nbsp;
{% endif %}

{% if filter_caption == 'Other' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_aviator.png?v=1687195384" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% comment %} Shapes {% endcomment %}

{% if filter_title == 'Color' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/filter_{{ filter_caption }}.jpg?v=1687266377" class="filter-shape-color-icon"/>
{% endif %}
<span>{{ filter_caption  | capitalize }}</span>