<style>
  .filter-shape-icon {
    max-height: 18px;
    display: inline-block;
    margin: 0 9px 0 0;
  }
  
  .filter-shape-color-icon {
    width: 20px;
    height: 20px;
    margin-right: 9px;
    border-radius: 20px;
  }
</style>
{% comment %} Shapes {% endcomment %}
{% if filter_caption == 'aviator' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_aviator.png" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% if filter_caption == 'butterfly / cat eye' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_cateye.png" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% if filter_caption == 'rectangle' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_rectangual.png" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% if filter_caption == 'round / oval' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_oval.png" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% if filter_caption == 'square' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_square.png" class="filter-shape-icon";/>&nbsp;
{% endif %}

{% if filter_caption == 'Other' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_aviator.png" class="filter-shape-icon"/>&nbsp;
{% endif %}

{% comment %} Colors {% endcomment %}

{% if filter_title == 'Color' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/filter_{{ filter_caption | replace: ' ', '_'  }}.jpg" class="filter-shape-color-icon" />
{% endif %}

{% comment %} Types {% endcomment %}
{% if filter_caption == 'Fullrim' %}
  <img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/Icon_Full-Frame.svg?v=1688044576" class="filter-shape-icon" />&nbsp;
{% endif %}

{% if filter_caption == 'Halfrim' %}
  <img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/Icon_Half-Frame.svg?v=1688044576" class="filter-shape-icon" />&nbsp;
{% endif %}

{% if filter_caption == 'Rimless' %}
  <img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/Icon_Rimless.svg?v=1688044577" class="filter-shape-icon" />&nbsp;
{% endif %}
<span>{{ filter_caption  | capitalize }}</span>