{% if filter_caption='aviator' %}
<img src="https://cdn.shopify.com/s/files/1/0751/1012/1785/files/shape_aviator.png?v=1687195384" width=50px; height=50px;/>
{% endif %}
<span>{{ filter_caption }}</span>